  <!-- Pied de page -->
  <footer>
    <section>
      <h1><a href="/projet-1/">Accueil</a></h1>
    </section>
    <section>
      <h1>Actualités</h1>
      <ul>
        <li><a href="#">Timbres</a></li>
        <li><a href="#">Enchères</a></li>
        <li><a href="#">Bridge</a></li>
      </ul>
    </section>
    <section>
      <h1>Aide</h1>
      <ul>
        <li><a href="#">Profil</a></li>
        <li><a href="#">Comment placer une offre</a></li>
        <li><a href="#">Suivre une enchère</a></li>
        <li><a href="#">Trouver l’enchère désirée</a></li>
        <li><a href="#">Contacter le webmestre</a></li>
      </ul>
    </section>
    <section>
      <h1>À propos</h1>
      <ul>
        <li><a href="#">La philatélie, c’est la vie.</a></li>
        <li><a href="#">Biographie du Lord</a></li>
        <li><a href="#">Historique familial</a></li>
      </ul>
    </section>
    <div>
      <button>Contactez-nous</button>
      <span>Suivez nous</span>
      <a href="#" aria-label="
				icône de facebook"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
      <a href="#" aria-label="
				icône de twitter"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
      <a href="#" aria-label="
				icône de google plus"><i class="fa fa-google-plus-square fa-2x" aria-hidden="true"></i></a>
      <a href="#" aria-label="
				icône de pinterest"><i class="fa fa-pinterest-square fa-2x" aria-hidden="true"></i></a>
    </div>

    <p>
      © 2021, Stampee.com. Tous les droits sont réservés.
      <a href="#">Politique de confidentialité</a> et
      <a href="#">Termes et conditions</a>.
    </p>
  </footer>
</body>

</html>