/* vue en liste */

.view-list {
  display: flex;
  align-items: center;
}

.view-list > * {
  margin: 0 1em;
}

/* vue en grille */

.view-grid {
  flex-direction: column;
  position: relative;
}

.view-grid .item-info {
  grid-template-columns: 65% 35%;
  grid-template-rows: auto 3em 5em;
}

.view-grid .item-info section {
  grid-column-start: span 2;
}

.view-grid h4 {
  margin: 1.5em 0;
}

.view-grid .item-info section h2 {
  text-align: center;
  margin: 1em auto;
  display: -webkit-box;
  height: 2.6em;
  width: 14.7em;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.view-grid .item-info section .date {
  margin-left: -1em;
}

.view-grid .item-stamp {
  top: -25px;
  left: -145px;
}

.view-grid .item-date {
  margin-top: auto;
  width: max-content;
}

.view-grid .like-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.view-grid.item-catalog {
  padding-right: 1em;
}

.view-grid.item-catalog picture:not(.item-stamp) {
  min-height: 15em;
  max-width: unset;
}

.view-grid .current-bid {
  width: min-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;
}

.view-grid .link-button {
  grid-column-start: span 2;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-size: 1.2em;
}

.view-grid h3 {
  margin-bottom: 1.5em;
}

.view-grid h4 {
  display: none;
}

.item-catalog {
  box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px,
    rgb(0 0 0 / 30%) 0px 1px 3px -1px;
  margin-bottom: 1.5em;
  padding: 2em 1em;
  background-color: var(--blanc);
}

.item-catalog h3 {
  width: max-content;
}

.item-catalog h4 {
  font-size: 0.85em;
}

.current-bid-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.current-bid-wrapper * {
  margin-top: auto;
}

.item-catalog picture:not(.item-stamp) {
  min-width: 15em;
  max-width: 15em;
  height: 15em;
}

.current-bid {
  display: block;
  font-weight: 600;
  font-size: 1.6em;
  color: #004af8;
  margin-top: 0.7em;
  margin-left: 0.1em;
}

.item-stamp {
  position: absolute;
  width: 8em;
  z-index: 1;
  left: 0px;
  top: -40px;
}

.item-stamp img {
  transform: rotate(-25deg);
}

.item-info {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 85% 15%;
  grid-template-rows: 75% 25%;
  height: 100%;
}

.item-info h2 {
  margin-top: 0.2em;
  grid-column-start: span 2;
  font-size: 1.4em;
}

.item-info h2 span {
  font-size: 0.85em;
}

.item-info section {
  display: grid;
  grid-template-columns: 50% 50%;
}

.item-info section span,
.item-info section div {
  margin-top: auto;
  line-height: 1.8em;
}

.item-date {
  margin-top: 4em;
  color: var(--rouge-pale);
  align-self: end;
}

.item-info a {
  align-self: flex-end;
  margin-left: auto;
  width: max-content;
}

.item-date span {
  margin-right: 0.4em;
}

.date {
  width: 15em;
  display: flex;
}

.date > * {
  flex-basis: 50%;
}

.extra-info * {
  display: block;
}

@media (max-width: 1700px) {
  div.item-info {
    grid-template-columns: 75% 25%;
  }
}

@media (max-width: 1000px) {
  li.item-catalog picture:not(.item-stamp) {
    max-width: 10em;
    min-width: 10em;
  }
}

@media (max-width: 850px) {
  div.item-info {
    grid-template-columns: 65% 35%;
  }

  .current-bid-wrapper {
    font-size: 0.8em;
  }
}

@media (max-width: 470px) {
  .item-catalog {
    width: 70vw;
  }
}

@media (max-width: 370px) {
  .view-grid div.item-info {
    grid-template-columns: 55% 35%;
  }

  .view-grid .item-stamp {
    left: -100px;
  }
}
