{% include ('header.html') %}
  <link rel="stylesheet" href="/projet-1/assets/css/list.css" />
  <link rel="stylesheet" href="/projet-1/assets/css/form.css" />

  <main>
    {% if timbres|length > 0 %}
      <section class="list">
          <h1>Mes timbres</h1>
          <ul> 
            {% for timbre in timbres %}
                <li>
                    <a href="/projet-1/timbre/modifierTimbre/{{ timbre.idTimbre }}">
                    <img src="/projet-1/assets/img/{{ timbre.imagePrincipale }}" alt="{{ timbre.nomTimbre }}">
                        {{ timbre.nomTimbre }}
                    </a>
                </li>
            {% endfor %}
        </ul>
      </section>
    {% endif%}
      <section class="form">
          <h2>{{pageTitre}}</h2>
          <form {% if erreurs[0] == 'Les timbres liés à des enchères avec des offres ne peuvent être modifiés' %} class="disabled" {% endif %}  method="POST" action="/projet-1/timbre/gererTimbre" enctype="multipart/form-data">
            <label  for="nomTimbre" >Nom du timbre :</label>
            <input type="text" id="nomTimbre" name="nomTimbre" value="{{ post.nomTimbre }}"/>
            <label  for=couleur" >Couleur :</label>
            <input type="text" id="couleur" name="couleur" value="{{ post.couleur }}"/>
            <label  for="tirage" >Tirage :</label>
            <input type="number" id="tirage" name="tirage" value="{{ post.tirage }}"/>
            <label  for="longueur" >Longueur :</label>
            <input type="number" id="longueur" name="longueur" value="{{ post.longueur }}"/>
            <label  for="largeur" >Largeur :</label>
            <input type="number" id="largeur" name="largeur" value="{{ post.largeur }}"/>
            <label  for="idPays" >Pays d'origine :</label>
            <select id="idPays" name="idPays">
              {% for pays in pays %}
                  <option  {% if pays.idPays == post.idPays %} selected {% endif %} value="{{ pays.idPays }}">
                      {{ pays.nomPays }}
                  </option>
              {% endfor %}
            </select>
            <label for="idCondition" >Condition : </label>
            <select id="idCondition" name="idCondition">
              {% for condition in conditions %}
                  <option  {% if condition.idCondition == post.idCondition %} selected {% endif %} value="{{ condition.idCondition }}">
                      {{ condition.nomCondition }}
                  </option>
              {% endfor %}
            </select>
            <div>
                <label  for="dateCreation" >Date de Création : </label>
                <input type="date" id="dateCreation" name="dateCreation" value="{{ post.dateCreation }}"/>
                
                <label  for="certifie" >Certifié : </label>
                <input type="checkbox" id="certifie" name="certifie" {% if post.certifie is defined and post.certifie is not null %} checked {% endif %}/>
                
            </div>
            <div>
                <label for="imagePrincipale" >Image principale : </label>
                <input type="file" id="imagePrincipale" name="imagePrincipale" accept="image/*"/>
                <label for="imageSupplementaire" >Images supplémentaires : </label>
                <input type="file" id="imageSupplementaire" name="imageSupplementaire[]" multiple="multiple" accept="image/*"/>
            </div>
            <div>
              {% if post.idTimbre != null %}
                <input type="hidden" name="idTimbre" value="{{ post.idTimbre }}">
                <a href="/projet-1/timbre/supprimerTimbre/{{ post.idTimbre }}" class="link-button">Supprimer</a>
              {% endif %}
              <button type="submit">Sauvegarder</button>
              <input type="hidden" name="idUsager" value="{{ session.idUsager}}">
            </div>
          </form>
          {%if erreurs is defined %}
            <ul> 
                {% for erreur in erreurs %}
                    <li>{{ erreur }}</li>
                {% endfor %}
            </ul>
           {% endif %}  
      </section>

      <section class="list">
        {% if images|length > 0 %}
          <h2>Images supplémentaires</h2>
        {% endif %}
        <ul {% if erreurs[0] == 'Les timbres liés à des enchères avec des offres ne peuvent être modifiés' %} class="disabled" {% endif %}>
          {% for image in images %}
              <li> <a href="/projet-1/timbre/supprimerImgSupplementaire/{{ image.idImage }}">
                   <img src="/projet-1/assets/img/{{ image.nomImage }}" alt="{{ image.nomImage }}">
                     Supprimer
                  </a>
              </li>
          {% endfor %}
            </ul>
      </section>
  </main>
   
  {% include ('footer.html') %}