{% include ('header.html') %}

<link href="https://cdn.rawgit.com/nizarmah/calendar-javascript-lib/master/calendarorganizer.min.css"
    rel="stylesheet" />
<link rel="stylesheet" href="/projet-1/assets/css/page-index.css" />
<link rel="stylesheet" href="/projet-1/assets/css/stamp.css" />
<script src="/projet-1/assets/js/index.js" defer></script>

<main>
  <div class="flex-index">
    <div>
      <!-- Enchères en vedette -->
      <section>
        <h2><a href="/projet-1/catalogue">Enchères en vedette</a></h2>
        <div class="flex-stamp">
          <div class="stamp">
            <a href="fiche-produit.html">
              <img src="assets/img/timbre-001.jpg" alt="timbre" />
              <div>
                <h3>
                  Belgium - Private issues: Elaborate lot with many
                  extras, amongst others, curiosities, cards etc. PR
                </h3>
                <span>Offre courant</span>
                <span>15 $</span>
                <span><i class="fa fa-clock-o" aria-hidden="true"></i><span>
                  1j 18h
                    47m 4s
                </span></span>
              </div>
            </a>
          </div>
          <div class="stamp">
            <a href="fiche-produit.html">
              <img src="assets/img/cageTimbre.jpg" alt="timbre" />
              <div>
                <h3>
                  Leuchtturm - Three Grande albums with slipcases + fifty
                  Grande two-pocket sheets, new
                </h3>
                <span>Offre courant</span>
                <span>150 $</span>
                <span><i class="fa fa-clock-o" aria-hidden="true"></i><span>
                  3j 18h
                    47m 4s
                </span></span>
              </div>
            </a>
          </div>
          <div class="stamp">
            <a href="fiche-produit.html">
              <img src="assets/img/timbre-002.jpg" alt="timbre" />
              <div>
                <h3>
                  Leuchtturm - Three FDC albums + pages for six hundred
                  FDCs + slipcases
                </h3>
                <span>Offre courant</span>
                <span>15 $</span>
                <span><i class="fa fa-clock-o" aria-hidden="true"></i><span>
                  18h 33m
                    3s
                </span></span>
              </div>
            </a>
          </div>
          <div class="stamp">
            <a href="fiche-produit.html">
              <img src="assets/img/timbre-003.jpg" alt="timbre" />
              <div>
                <h3>
                  Leuchtturm - Three FDC albums + pages for six hundred
                  FDCs + slipcases
                </h3>
                <span>Offre courant</span>
                <span>25 $</span>
                <span><i class="fa fa-clock-o" aria-hidden="true"></i><span>
                  2j 18h
                    47m 57s
                </span></span>
              </div>
            </a>
          </div>
          <div class="stamp">
            <a href="fiche-produit.html">
              <img src="assets/img/timbre.jpg" alt="timbre" />
              <div>
                <h3>BClassic Europe / Overseas 1840/1900 - Michel</h3>
                <span>Offre courant</span>
                <span>25 $</span>
                <span><i class="fa fa-clock-o" aria-hidden="true"></i><span>
                  2j 18h
                    47m 9s
                </span></span>
              </div>
            </a>
          </div>
          <div class="stamp">
            <a href="fiche-produit.html">
              <img src="assets/img/pluto.jpg" alt="timbre" />
              <div>
                <h3>
                  Belgium - Private issues: Elaborate lot with many
                  extras, amongst others, curiosities, cards etc. PR
                </h3>
                <span>Offre courant</span>
                <span>15 $</span>
                <span><i class="fa fa-clock-o" aria-hidden="true"></i><span>
                  1j 18h
                    47m 4s
                </span></span>
              </div>
            </a>
          </div>
          <div class="stamp">
            <a href="fiche-produit.html">
              <img src="assets/img/article-timbre-2.jpg" alt="timbre" />
              <div>
                <h3>
                  Leuchtturm - Three Grande albums with slipcases + fifty
                  Grande two-pocket sheets, new
                </h3>
                <span>Offre courant</span>
                <span>150 $</span>
                <span><i class="fa fa-clock-o" aria-hidden="true"></i><span>
                  3j 18h
                    47m 4s
                </span></span>
              </div>
            </a>
          </div>
          <div class="stamp">
            <a href="fiche-produit.html">
              <img src="assets/img/article-timbre-3.jpg" alt="timbre" />
              <div>
                <h3>
                  Leuchtturm - Three FDC albums + pages for six hundred
                  FDCs + slipcases
                </h3>
                <span>Offre courant</span>
                <span>15 $</span>
                <span><i class="fa fa-clock-o" aria-hidden="true"></i><span>
                  18h 33m
                    3s
                </span></span>
              </div>
            </a>
          </div>
          <div class="stamp">
            <a href="fiche-produit.html">
              <img src="assets/img/timbre2.jpg" alt="timbre" />
              <div>
                <h3>
                  Leuchtturm - Three FDC albums + pages for six hundred
                  FDCs + slipcases
                </h3>
                <span>Offre courant</span>
                <span>25 $</span>
                <span><i class="fa fa-clock-o" aria-hidden="true"></i><span>
                  2j 18h
                    47m 57s
                </span></span>
              </div>
            </a>
          </div>
          <div class="stamp">
            <a href="fiche-produit.html">
              <img src="assets/img/timbre-4.jpg" alt="timbre" />
              <div>
                <h3>BClassic Europe / Overseas 1840/1900 - Michel</h3>
                <span>Offre courant</span>
                <span>25 $</span>
                <span><i class="fa fa-clock-o" aria-hidden="true"></i><span>
                  2j 18h
                    47m 9s
                </span></span>
              </div>
            </a>
          </div>
        </div>
      </section>
      <!-- Enchères finissant bientôt -->
      <section>
        <h2><a href="/projet-1/catalogue">Enchères finissant bientôt</a></h2>
        <div class="flex-stamp">
          {% for enchere in bientotFini %}
          
          <div class="stamp">
            <a href="/projet-1/enchere/enchereId/{{enchere.idEnchere}}">
              <img src="assets/img/{{imageBientotFini[loop.index0]}}" alt="timbre" />
              <div>
                <h3>
                 {{ enchere.nomEnchere }}
                </h3>
                <span>Offre courant</span>
                <span>{{offres[loop.index0]}} $</span>
                <span><i class="fa fa-clock-o" aria-hidden="true"></i><span data-js-timer>{{enchere.dateFin}}</span></span>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </section>
      <!-- Lord Reginald Stampee -->
      <article class="about">
        <img src="./assets/img/Lord-M-A-Stampee.png" alt="Lord Reginald Stampee" />
        <div>
          <h2>Lord Reginald Stampee</h2>
          <span>Philatéliste</span>
          <p>
            Lord Stampee est né le 24 juin 1948 à Richmond Park, dans les
            faubourgs de Londres, sous le règne de son arrière-grand-mère, la
            reine Victoria. Il est le fils aîné du prince Groggy, duc de
            Warwickshire, lui-même second fils du prince de Galles. Sa mère,
            la duchesse de Warwickshire était la fille aînée du duc et de la
            duchesse de Teck. En tant qu'arrière-petit-fils du monarque dans
            la lignée mâle, Reginald reçut à la naissance le titre de duc de
            Worcessteshear.
          </p>
          <a href="#" class="link-button">En savoir plus</a>
        </div>
      </article>
      <section>
        <h2><a href="#">Articles</a></h2>
        <div class="grid-articles">
          <article>
            <a href="#">
              <img src="./assets/img/philatelistes-celebres.jpg" alt="philatélistes-célèbres" />
              <h3>Famous Philatelists Worldwide</h3>
              <p>
                Most philatelists know the “philately club” includes true
                stamp connoisseurs. And there are a lot of famous and
                outstanding people among them. Let's take a few of them in
                this article.
              </p>
            </a>
          </article>
          <article>
            <a href="#">
              <img src="./assets/img/pluto.jpg" alt="pluton" />
              <h3>Space Scandals in Philately</h3>
            </a>
          </article>
          <article>
            <a href="#">
              <img src="./assets/img/article-timbre.jpg" alt="timbre" />
              <h3>Philately: Passion or Investment?</h3>
            </a>
          </article>
          <article>
            <a href="#">
              <img src="./assets/img/article-timbre-2.jpg" alt="timbre" />
              <h3>Lemur Island Stamps: Madagascar Philately Overview</h3>
            </a>
          </article>
          <article>
            <a href="#">
              <img src="./assets/img/article-timbre-3.jpg" alt="timbre" />
              <h3>The First Postage Stamp of Russia</h3>
            </a>
          </article>
        </div>
      </section>
    </div>
    <div>
      <!-- Proposition de valeur -->
      <p>
        Parcourez une vaste collection de catalogues d'enchères et ayez un aperçu des timbres rares lors de diverses
        ventes à venir et précédentes.</p>
      <!-- Vente aux enchères en direct -->
    
      <script src="https://cdn.rawgit.com/nizarmah/calendar-javascript-lib/master/calendarorganizer.min.js"></script>
      <section class="calendar">
        <h2><a href="#">Vente aux enchères en direct</a></h2>
        <div id="calendarContainer"></div>
        <div id="organizerContainer"></div>
      </section>
      <!-- Ajouts récents -->
      <link rel="stylesheet" href="assets/css/recent-added.css" />
      <link rel="stylesheet" href="assets/css/main.css" />
        <section class="new">
          <h2>Ajouts récents</h2>
          <ul>
            {% for recent in recents %}
            <li>
              <div class="added-date">
                <h3>{{recent.dateDebut|date('F')}} <br><span>{{recent.dateDebut|date('d')}}</span></h3>
              </div>
              <a href="/projet-1/enchere/enchereId/{{recent.idEnchere}}">
                <img src="./assets/img/{{recentsImages[loop.index0]}}" alt="timbre">
                <h4>{{recent.nomEnchere}}</h4>
              </a>
            </li>
            {% endfor %}
          </ul>
        </section>
    </div>
  </div>
</main>
{% include ('footer.html') %}